*{
    padding: 0;
    margin: 0;
}

html{
    overflow-x: hidden;
    font-size: 10px;
    color: #0b4619;
    font-family: "Avenir medium","YuGothic bold",sans-serif;
    scroll-behavior: smooth;
}

img{
    vertical-align: bottom;
}

a{
    text-decoration: none;
}

body{
    background-color: #f1f1e7;
    background-size: 100vw;
}

h2{
    font-size: 2.4em;
}

#wrap{
    background-image: url(../img/first_deco.png);
    background-repeat: no-repeat;
    background-position: top 0px left 0px;
    background-size: 105%;
    position: relative;
}

/*================================== ヘッダー ==================================*/
#header{
    width: 100vw;
}

.header {
    display: flex;
    align-items: top;
    justify-content: space-between;
    height: 120px;
    width: 1000px;
    padding: 30px 0px 30px;
    margin: auto;
}

#header .ttl{
    text-align: top;
    height: 60px;
}

#header .menu{
    display: flex;
    position: relative;
    gap: 55px;
    font-size: 16px;
    align-items: top;
    padding-top: 10px;
    z-index: 100;
}

#header .menu li{
    list-style: none;
}

#header .menu a{
    color: #116530;
}

#header .menu a:hover{
    color: #FFCC1D;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

#fixed_header{
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    transition: .5s;
    background-color: #f1f1e7;
    border-bottom: #FFCC1D solid 1px;
}

.animoLineThrough{
    position:relative;
    display:inline-block;
    cursor:pointer;
}

.animoLineThrough::after,.animoLineThrough::before{
    content:'';
    position:absolute;
    width:0%;
    height:3px;
    top:50%;
    margin-top:-.5px;
    background:#fff;
}

.animoLineThrough::before{
    left:-2.5px;
}

.animoLineThrough::after{
    right:2.5px;
    background:#f39c12;
    transition:width .8s cubic-bezier(.22,.61,.36,1);
}

.animoLineThrough:hover::before{
    background:#f39c12;
    width:100%;transition:width .5s cubic-bezier(.22,.61,.36,1);
}

.animoLineThrough:hover::after{
    background:0 0;
    width:100%;
    transition:0s;
}

/*==================================================
アコーディオンのためのcss
===================================*/

/*アコーディオン全体*/
.accordion-area{
    list-style: none;
}

.accordion-area li{
    margin: 10px 0;
}

.accordion-area li section{
    z-index: 10;
    padding: 0px;
}

/*アコーディオンタイトル*/
#header .title {
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    color: #116530;
    font-size:16px;
    font-weight: normal;
    transition: all .2s ease;
    width: 75px;
}

/*アイコンの＋と×*/
#header .title::before,.title::after{
    position: absolute;
    content:'';
    width: 10px;
    height: 2px;
    background-color: #116530;
    top: 40%;
    transition: all .2s ease;
}

#header .title::before{
    transform: rotate(45deg);
    right: 26px;
}

#header .title::after{    
    transform: rotate(-45deg);
    right: 20px;
}

#header .title:hover{
    color: #FFCC1D;
}

#header .title:hover::before{
    background-color: #FFCC1D;
}

#header .title:hover::after{
    background-color: #FFCC1D;
}


/*　closeというクラスがついたら形状変化　*/

#header .title .close::before{
  transform: rotate(45deg);
}

#header .title .close::after{
  transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
#header .box {
    display: none;/*はじめは非表示*/
}


/*================================== ファーストビュー ==================================*/
#first{
    padding-top: 50px;
}

#first .main_vis{
    display: flex;
    width: 860px;
    align-items: flex-end;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    pointer-events:none;
}

/* その場で */
.fadeIn0{
    animation-name:fadeInAnime;
    animation-duration:2s;
    animation-fill-mode:forwards;
    opacity:0;
}
    
.fadeIn{
    animation-name:fadeInAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity:0;
}
    
@keyframes fadeInAnime{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

#first .img01{
    position: absolute;
    left: 0;
}

#first .img02{
    position: absolute;
    top: 110px;
    left: 50px;
}

#first .img04{
    position: absolute;
    right: 120px;
    bottom: 10px;
}

#first .img05{
    position: absolute;
    top: 170px;
    right: 80px;
}

#first .img06{
    position: absolute;
    top: 0px;
    right: 30px;
}

/*  name  */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

#first .text {
    position: absolute;
    right: 21%;
    margin-left: -225px;
    height: 60px;
    top: 5%;
    margin-top: -20px;
    font-family: "YuGothic bold";
    font-size: 16px;
    font-weight: lighter;
    padding: 60px 30px 110px;
    vertical-align: middle;
  }
  
#first .text p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    color: #116530;
}

#first .text .word {
    position: absolute;
    width: 220px;
    opacity: 0;
}

#first .letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

#first .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#first .letter.behind {
    transform: rotateX(-90deg);
}

#first .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*================================== 導入 ==================================*/
#introduction{
    text-align: center;
    font-size: 1.6em;
    line-height: 48px;
    font-family: "YuGothic medium";
    padding: 150px 0px 0px;
}

#introduction .text01{
    padding-bottom: 90px;
}

#introduction .marker {
    background: linear-gradient(transparent 50%, #FFCC1D 50%);
}

/*================================== すごろく ==================================*/
#sugoroku{
    text-align: center;
    padding: 130px 0px 0px;
    position: relative;
    margin-top: 70px;
}

#sugoroku .title{
    background-image: url(../img/title_frame.png);
    background-repeat: no-repeat;
    background-position: top 0px center;
    background-size: 370px auto;
    padding: 14px 0px 30px;
}

#sugoroku .lead{
    font-size: 1.2em;
    letter-spacing: .3em;
    margin-bottom: 100px;
}

#sugoroku .height{
    position: relative;
    opacity: 0;
}

#sugoroku .game{
    
}

#sugoroku .green{
    position: absolute;
    top: 330px;
    left: 300px;
}

#sugoroku .ylw{
    display:inline-block;
    position: absolute;
    justify-content: center;
    transition:transform .3s;
    cursor:pointer
}

#sugoroku .ylw01{
    top: 361px;
    left: 564px;
}

#sugoroku .ylw02{
    top: 422px;
    left: 770px;
}

#sugoroku .ylw03{
    top: 744px;
    left: 1002px;
}

#sugoroku .ylw04{
    top: 997px;
    left: 946px;
}

#sugoroku .ylw05{
    top: 1136px;
    left: 534px;
}

#sugoroku .ylw06{
    top: 1480px;
    left: 867px;
}

#sugoroku .ylw07{
    top: 1650px;
    left: 763px;
}

#sugoroku .ylw08{
    top: 1853px;
    left: 545px;
}

#sugoroku .ylw09{
    top: 2166px;
    left: 385px;
}

#sugoroku .ylw10{
    top: 2376px;
    left: 690px;
}

#sugoroku .ylw11{
    bottom: 86px;
    left: 612px;
}

#sugoroku .ylw12{
    bottom: 13px;
    left: 1002px;
}

#sugoroku .ylw:hover{
    transform:scale(1.2)
}

/* 装飾 */
#sugoroku .decoration .container .image{
    position: absolute;
    opacity: 0;
}

.image1 {
	animation: change-img-anim-first 2s infinite;
	animation-delay: 0s;
    top: 1050px;
    left: 150px;
}

.image2 {
    animation: change-img-anim 2s infinite;
	animation-delay: 1s;
    top: 1047px;
    left: 164px;
}

#sugoroku .box11 {
    position: absolute;
    top: 1020px;
    left: 60px;
}

@keyframes change-img-anim-first {
	0%{ opacity: 1;}
    49%{ opacity: 1;}
    50%{ opacity: 1;}
    51%{ opacity: 0;}
    100%{ opacity: 0;}
}

@keyframes change-img-anim {
    0%{ opacity: 1;}
    49%{ opacity: 1;}
    50%{ opacity: 1;}
    51%{ opacity: 0;}
    100%{ opacity: 0;}
}

#sugoroku .decoration .sns .sns_btn{
    position: absolute;
    list-style: none; 
    transition: .2s ease-in-out; 
}
        
#sugoroku .fb_btn,.fb_sh{
    top: 550px;
    left: 150px;
    z-index: 2;
}

#sugoroku .decoration .sns .fb_btn:hover{
    top: 545px; 
    left: 145px;
}

#sugoroku .in_btn,.in_sh{
    bottom: 600px;
    right: 200px;
    z-index: 2;
}

#sugoroku .decoration .sns .in_btn:hover{
    bottom: 605px; 
    right: 205px;
}

/*==================================================
ふわっ
===================================*/

/* 下から */
.fadeUp {
    animation-name:fadeUpAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity: 0;
}
@keyframes fadeUpAnime{
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/**/
#sugoroku .deco {
    position: absolute;
}

#sugoroku .pho_dc01{
    top: 250px;
    right: 100px;
}

#sugoroku .pho_dc02{
    top: 1150px;
    right: 130px;
}

#sugoroku .pho_dc03{
    bottom: 200px;
    right: 200px;
}

#sugoroku .deco01 {
    bottom: 1100px;
    left: 300px;
}

#sugoroku .deco02 {
    bottom: 330px;
    left: 200px;
}

#sugoroku .deco_other .box {
    position: absolute;
    animation: fuwafuwa 3s infinite ease-in-out .8s alternate;
    background: url(../img/ico-apple.svg) no-repeat center center / 60px auto;
    display: inline-block;
    transition: 1s ease-in-out;
}

@keyframes fuwafuwa {
    0% {
      transform:translate(0, 0) rotate(-7deg);
    }
    100% {
      transform:translate(0, 0) rotate(7deg);
    }
}

#sugoroku .deco_other .box01 {
    top: 590px;
    right: 500px;
}

#sugoroku .deco_other .box02 {
    top: 900px;
    right: 650px;
}

#sugoroku .deco_other .box03 {
    top: 1320px;
    right: 680px;
}

#sugoroku .deco_other .box04 {
    bottom: 960px;
    left: 250px;
}

#sugoroku .deco_other .box05 {
    bottom: 640px;
    right: 680px;
}

#sugoroku .deco_other .box06 {
    bottom: 340px;
    left: 500px;
}

#sugoroku .deco_other .box07 {
    bottom: 140px;
    left: 240px;
}

#sugoroku .deco_other .box08 {
    top: 1220px;
    right: 600px;
}

#sugoroku .deco_other .box09 {
    bottom: 700px;
    left: 550px;
}

#sugoroku .deco_other .box10 {
    bottom: 200px;
    right: 600px;
}

#sugoroku .decoration .box11 {
    z-index: -1;
}


/*================================== 商品 ==================================*/

.swiper-wrapper {
    /* wrapperのサイズを調整 */
    width: 1000px;
    height: 350px !important;
    padding-top: 100px;
}

.swiper-slide {
    /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
    color: #0b4619;
    width: 300px;
    font-size: 16px;
    text-align: center;
    line-height: 1.5em;
    padding-top: 250px;
}


.swiper-slide1 {
    background-image: url(../img/menu01.png);
    background-repeat: no-repeat;
    background-position: top 0px center;
    background-size:222px 217px;
}

.swiper-slide2 {
    background-image: url(../img/menu02.png);
    background-repeat: no-repeat;
    background-position: top 0px center;
    background-size:222px 217px;
}

.swiper-slide3 {
    background-image: url(../img/menu03.png);
    background-repeat: no-repeat;
    background-position: top 0px center;
    background-size:222px 217px;
}

.swiper-slide4 {
    background-image: url(../img/menu04.png);
    background-repeat: no-repeat;
    background-position: top 0px center;
    background-size:222px 217px;
}

.swiper-pagination-bullets{
    width: 100px;
}

.swiper-pagination {
    position: relative;
    bottom: 0px;
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    margin: 0 0 0 10px !important;
    background: #fff;
}

.swiper-pagination-bullet:first-child {
    margin: 0 !important;
}

/*レイアウト*/
#menu {
    position: relative;
    text-align: center;
    background-image: url(../img/title_frame.png)/*,url(../img/menu_deco.png),url(../img/product_back.png)*/;
    background-position: top 75px center/*,center left 0px,center center*/;
    background-repeat: no-repeat/*,no-repeat,no-repeat*/;
    background-size: 370px auto/*,1300px auto,890px auto*/;
    width: 1000px;
    height: 700px;
    padding: 100px 0px 100px;
    margin: 100px auto 0px;
}

#menu h2 {
    text-align: center;
}

#menu .swiper-button-prev,.swiper-button-next{
    color: #FFCC1D;
}

/*================================== コンタクト ==================================*/
#contact {
    padding: 100px 0px 0px;
}

#contact h2 {
    position: relative;
    text-align: center;
    background-image: url(../img/title_frame.png);
    background-repeat: no-repeat;
    background-position: top 0px center;
    background-size: 370px auto;
    padding: 25px 0px 40px;
}

.cp_iptxt {
    position: relative;
    width: 1000px;
    margin: 40px auto;
}

.cp_iptxt input[type='text'] {
    font: 20px/20px sans-serif;
    box-sizing: border-box;
    width: 100%;
    letter-spacing: 1px;
    padding-left: 6em;
}

.cp_iptxt input[type='text']:focus {
    outline: none;
}

.cp_iptxt textarea{
    font: 20px/20px sans-serif;
    padding: 35px 10px 1em;
}

.ef {
    padding: 4px 0;
    border: 0;
    border-bottom: 3px solid #0b4619;
    background-color: transparent;
}

.ef ~ .focus_line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    transition: 0.4s;
    background-color: #aaaaaa;
}
.ef:focus ~ .focus_line,
.cp_iptxt.ef ~ .focus_line {
    width: 100%;
    transition: 0.4s;
}
.ef ~ label {
    position: absolute;
    z-index: -1;
    top: 6px;
    left: 10px;
    width: 100%;
    transition: 0.3s;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #0b4619;
}
.ef:focus ~ label, .cp_iptxt.ef ~ label {
    font-size: 12px;
    top: -16px;
    transition: 0.3s;
    color: #aaa;
}

.msg{
    border: #0b4619 solid 3px;
    width: 1000px;
    height: 200px;
}

#contact .btn {
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 13pt;
    text-align: center;
    cursor: pointer;
    padding: 10px 30px;
    z-index: 2;
    color: #0b4619;
    line-height: 1em;
    transition: .2s ease-in-out;
    border: 3px solid #0b4619;
    margin: auto;
}

#contact .btn:hover {
    top: 3px;
    left: 3px;
    color: #f1f1e7;
    background-color: #0b4619;
}

/*================================== フッター ==================================*/
#footer{
    bottom: 0px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: top 0px center;
    padding-top: 140px;
    margin-top: 100px;
}

#footer .flexbox {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
}

#footer .flexbox .other{
    display: flex;
    flex-direction: column;
    gap: 14px;
    /*
    justify-content: space-between;
    height: 274px;*/
}

h1 img:hover{
    opacity: 0.6;
    transition: .2s ease-in-out;
}

#footer .flexbox .menu,.icon {
    display: flex;
}

#footer .flexbox .icon{
    gap: 20px;
    margin-top: auto;
}

#footer .flexbox .icon li{
    display: flex;
    align-items: center;
}

#footer .flexbox .icon img:hover{
    opacity: .6;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

#footer .menu {
    position: relative;
    gap: 55px;
    font-size: 16px;
}

#footer .menu a:hover{
    color: #FFCC1D;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

#footer li {
    list-style: none;
}

#footer a {
    color: #fff;
}

#footer .map{
    display:inline-block;
    transition:transform .3s;
    cursor:pointer
}

#footer .map:hover{
    transform:scale(1.06)
}

#footer .copylight {
    text-align: center;
    padding: 30px 0px;
}

#footer .back{
    position: absolute;
    bottom: 0px;
    z-index: -1;
}

/* トップへ */
/*========= ページトップのためのCSS ===============*/
/*リンクを右下に固定*/
#page-top {
	position: fixed;
	right: 10px;
	bottom:30px;
	z-index: 1000;
    /*はじめは非表示*/
	opacity: 0;
	transform: translateY(150px);
}

/*　上に上がる動き　*/
#page-top.UpMove {
	animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
    from {
      opacity: 0;
    	transform: translateY(150px);
    }
    to {
      opacity: 1;
    	transform: translateY(0);
    }
}

/*　下に下がる動き　*/
#page-top.DownMove {
	animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
    from {
    	opacity: 1;
    	transform: translateY(0);
    }
    to {
    	opacity: 1;
    	transform: translateY(150px);
    }
}

/*画像の切り替えと動き*/
#page-top a {
    /*aタグの形状*/
	display: block;
	width: 100px;
	height: 100px;
	color: #ff4a17;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
	font-size:0.6rem;
    /*背景画像の指定*/
	background: url("../img/tophe_bf.png") no-repeat center;
	background-size: contain;
}

#page-top.floatAnime a {
	width: 100px;
	height: 130px;
    /*背景画像の指定*/
	background: url("../img/tophe_af.png") no-repeat center;
	background-size: contain;
    /*アニメーションの指定*/
	animation: floatAnime 2s linear infinite;
	opacity: 0;
}

@keyframes floatAnime {
    0% { transform: translateX(0); opacity: 0; }
    25% { transform: translateX(-6px);opacity: 1; }
    50% { transform: translateX(0) }
    100% { transform: translateX(6px);opacity: 1; }
}

/*Page Topと書かれたテキストの位置*/
#page-top span {
    font-size: 14px;
    position: absolute;
    bottom: -20px;
    right: 30px;
	color: #ff4a17;
}
